#art{
    padding-top: var(--padding-top-body);

    & .main, & .thank{
        width: var(--width-screen);
        margin: auto;
    }

    & .thank{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & h1{
            font-size: 50px;
            font-family: var(--ff-B);
        }
        & a{
            color: var(--color-A);
            background-color: var(--color-B);
            padding: 10px 15px;
            border-radius: 30px;
            text-transform: uppercase;
        }
    }

    & .art{
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        //height: ;
        &__image{
            height: 80%;

            position: relative;
            & img{
                height: 100%;
                width: auto;
                object-fit: cover;
            }

            & .art__time{
                position: absolute;
                bottom: 102%;
                right: 0;


            }
            & .icon{
                position: absolute;
                bottom: 0;
                left: 102%;

                font-size: var(--fz-icon-primary);
                color: var(--color-B);

                cursor: pointer;
            }
            & .art__tool__list{
                position: absolute;
                right: 102%;
                top: 50%;

                transform: translateY(-50%);

                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 30px;

                & .art__tool__item{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 8px;

                    & .amount{
                        font-size: 15px;
                    }
                    & .icon{
                        font-size: 30px;
                    }
                }

                & a{
                    color: var(--color-B);
                }
            }
        }

        &__name{
            font-size: 50px;
            font-family: var(--ff-B);
            text-align: center;
            font-weight: 550;
            font-style: italic;
        }
    }

    & .comment{
        &-session{
            padding: 100px 300px;
        }

        &-typer{
            display: flex;
            flex-direction: column;
            gap: 15px;

            & .user-name, & .user-comment{
                display: flex;
                align-items: center;
                gap: 10px;

                & i{
                    font-size: 27px;
                    cursor: pointer;
                }

                & input{
                    color: var(--color-B);
                    font-family: var(--ff-A);
                    font-weight: bold;

                    background-color: transparent;

                    text-decoration: none;
                }
            }

            & .user-comment{
                & input{
                    width: 100%;
                }
            }

            & input{
                //height: 35px;
                border: 1px solid var(--color-B);
                outline: 0;
                padding: var(--padding-comment);
                border-radius: var(--brr-comment);

                font-size: 14px;
            }
        }
        &-shower{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 20px;
        }
        &-item{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-info{
            display: flex;
            gap: 5px;
            font-size: 13px;
            padding: 0 15px;
            & .userName{
                font-family: var(--ff-B);
            }
        }
        &-content{
            border: var(--border-comment);
            background-color: transparent;
            border-radius: var(--brr-comment);
            padding: var(--padding-comment);

            line-height: 16px;

            font-size: 14px;
            //font-weight: bold;
        }
    }
    & .art-suggestion{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        &-row{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    & .notify-cmt{

    }


}
