#gotham-page{
    overflow-y: hidden;
    overflow-x: hidden;
    & .header{
        display: none;
    }
    & .nav{
        top: var(--padding-top-body);
    }
    & main{
        & .container{
        width: 100%;
	    display: flex;
        flex-direction: column;
	    justify-content: center;
	    align-items: center;
        margin: 0 auto;
        height: 100vh;
        padding: 50px;
        & .thebook{
            display: none;
        }
            & .thebook{
                // display: flex;
	            justify-content: center;
	            align-items: center;
	            max-width: 600px;
                width: 100%;
	            height: 100vh;
                margin: 0 auto;
                & .trnsf{
                    transform: translateX(240px);
                }


                & .trnsf-reset{
                    transform: translateX(0px);

                }
                & .book-content{
                        width: 100%;
                        min-width: 250px;
                        height: 750px;
                        position: relative;
                        perspective: 1000px;
                        transition: .5s;
                        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
                        & .book{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            transition: .8s;
                            transform-style: preserve-3d;
                            transform-origin: left;
                            /* border-left: 10px solid #282928; */
                            // box-shadow: inset 20px 0px 21px -10px rgba(255,255,255,.1), inset 13px 0px 21px -10px rgba(0,0,0,.3);

                            & .face-front, .face-back{
                                width: 100%;
                                height: 100%;
                                padding: 15px;
                                // background: white;
                                box-sizing: border-box;
                                overflow: hidden;
                                background-size: 100% 100%;
                            }
                            & .face-front{
                                box-shadow: inset 3px 0px 20px -7px black;
                            }
                             & .face-back{
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: translateZ(-1px) rotateY(180deg);
                                box-shadow: inset -3px 1px 20px -7px black;
                            }

                        }
                        & .book:hover{
                            transform: rotateY(-5deg) ;
                            box-shadow: 15px 15px 15px rgba(0,0,0,.2);
                        }
                        & .book{
                            //#portada{
                            //    background: url('../images/gotham1/0001.jpg');
                            //}
                            //#portada-back{
                            //    background: url('/public/images/gotham1/0035.jpg');
                            //}
                            //#portada, #portada-back{
                            //    background-size: 100% 100%;
                            //}
                            //
                            //#g0002{
                            //    background: url('/public/images/gotham1/0002.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0003{
                            //    background: url('/public/images/gotham1/0003.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0004{
                            //    background: url('/public/images/gotham1/0004.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}#g0005{
                            //    background: url('/public/images/gotham1/0005.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0006{
                            //    background: url('/public/images/gotham1/0006.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0007{
                            //    background: url('/public/images/gotham1/0007.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0008{
                            //    background: url('/public/images/gotham1/0008.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0009{
                            //    background: url('/public/images/gotham1/0009.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0010{
                            //    background: url('/public/images/gotham1/0010.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0011{
                            //    background: url('/public/images/gotham1/0011.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0012{
                            //    background: url('/public/images/gotham1/0012.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0013{
                            //    background: url('/public/images/gotham1/0013.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0014{
                            //    background: url('/public/images/gotham1/0014.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0015{
                            //    background: url('/public/images/gotham1/0015.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0016{
                            //    background: url('/public/images/gotham1/0016.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0017{
                            //    background: url('/public/images/gotham1/0017.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0018{
                            //    background: url('/public/images/gotham1/0018.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0019{
                            //    background: url('/public/images/gotham1/0019.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0020{
                            //    background: url('/public/images/gotham1/0020.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0021{
                            //    background: url('/public/images/gotham1/0021.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0022{
                            //    background: url('/public/images/gotham1/0022.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0023{
                            //    background: url('/public/images/gotham1/0023.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0024{
                            //    background: url('/public/images/gotham1/0024.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0025{
                            //    background: url('/public/images/gotham1/0025.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0026{
                            //    background: url('/public/images/gotham1/0026.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0027{
                            //    background: url('/public/images/gotham1/0027.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0028{
                            //    background: url('/public/images/gotham1/0028.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0029{
                            //    background: url('/public/images/gotham1/0029.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0020{
                            //    background: url('/public/images/gotham1/0030.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0031{
                            //    background: url('/public/images/gotham1/0031.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0032{
                            //    background: url('/public/images/gotham1/0032.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                            //#g0034{
                            //    background: url('/public/images/gotham1/0034.jpg');
                            //    background-size: 100% 100%;
                            //
                            //}
                        }
                }
            }
            & .Book__intro{
                display: block;

                & .center {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0 auto;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    // transform: translate(-50%, -50%);
                }
                .page {
                    width: 100%;
                    width: 500px;
                    cursor: pointer;
                    height: 700px;
                    border-left: 10px solid #303130;
                    transform: rotateY(0deg) rotateZ(0deg) skewX(0deg) scale(.8);
                    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
                    transition: .5s;
                    animation-name: intro;
                    animation-duration: 3s;
                    animation-delay: 0s;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }

                @keyframes intro{
                    0%{
                        transform: translateX(-50%) scale(.8);
                    }
                    100%{
                        transform: translateX(0%) scale(.8);

                    }
                }
                .page:hover{
                    transform: rotate(-10deg) scale(.9);
                }

                .page p {
                    margin: 0;
                    padding: 0;
                    text-align: justify
                }

                .page:before {
                    content: "";
                    width: 10px;
                    height: 100%;
                    background: #282928;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: skewY(-45deg) translate(-20px, -15px)
                }

                .page:after {
                    content: "";
                    width: 103%;
                    height: 10px;
                    background: rgb(255, 255, 255);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: skewX(-45deg) translate(-5px, 10px)
                }
                .book__info{
                    padding: var(--pading-book);
                }
                .book__info p{
                    font-size: 100px;
                    // font-family: 'Playfair Display';
                    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                                 10px 20px 5px rgba(0,0,0,0.05),
                                 -10px 20px 5px rgba(0,0,0,0.05);
                    animation-name: introText;
                    animation-duration: 5s;
                    animation-delay: 0s;
                    padding: 10px 0;
                }
                @keyframes introText {
                    0%{
                        opacity: 0;
                    }
                    20%{
                        opacity: 0.2;

                    }
                    40%{
                        opacity: 0.4;
                    }
                    60%{
                        opacity: 0.6;
                    }
                    80%{
                        opacity: 0.8;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                .book__info p:nth-child(2){
                    font-size: 20px;

                }
                .book__info p:nth-child(3){
                    font-size: 20px;

                }
                .book__info p:nth-child(4){
                    font-size: 20px;

                }
                .book__info p:nth-child(5){
                    font-size: 20px;
                    text-align: end;

                }
                .book__info #view i{
                    animation: arrow 1s infinite;
                    animation-delay: 5s;

                }
                @keyframes arrow {
                    from{
                        transform: translateX(0);
                    }
                    to{
                        transform: translateX(50px);
                    }
                }
            }

        }
    }

}

